<div class="page">
  <div class="body-content">
      <div class="header">
          <img src="/assets/images/home-image.jpg" alt="Главная картинка" class="main-image">
      </div>

      <app-date-button-div></app-date-button-div>
      
      <div class="custom-block">
        <div class="line left-line"></div>
        <div class="text">Натисніть на час сеансу, щоб обрати місця</div>
        <div class="line right-line"></div>
      </div>      

      <app-home-content></app-home-content>
  </div>
</div>